# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# JetBrains configuration
.idea
cmake-build-*

# VisualStudio configuration
.vs
CMakeBuilds

*/SCons*
*/build/
src/Makefile  
*.xml.log
# *CMakeLists.txt
src/modm
.idea/workspace.xml
compile_commands.json